* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f9ff;
  color: white;
}

.logo {
  color: lightseagreen;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
}
.button {
  background-color: darkgreen;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 18px;
}
.button:hover {
  background-color: darkblue;
}
main {
  margin: 50px;
  margin-left: 200px;
}
.right img {
  margin-top: -270px;
  margin-left: 200px;
  border-radius: 50px;
  object-fit: cover;
}
.section {
  background-color: #efeff1;
  padding: 20px;
  padding-top: 100px;
  padding-left: 150px;
}
.btn {
  background-color: darkgreen;
  padding: 5px 10px;
  color: white;
}
button {
  border-color: darkgreen;
  color: darkgreen;
  padding: 10px 20px;
  border-radius: 8px;
}
/* my skills */
.about-section {
  font-family: "Segoe UI", sans-serif;
  color: #1f2937;
  text-align: center;
}
/* my project */
.section-project {
  padding: 60px 20px;
}
.section-p {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  margin-top: -50px;
}

.section-block {
  padding: 60px 20px;
  /* margin-top: -50px; */
}
.bg-light {
  background-color: #f9fafb;
  margin-top: -50px;
}
.section-title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  margin-top: -50px;
}
.underline {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #6366f1;
  border-radius: 2px;
  margin: 8px auto 20px auto;
}
.section-text {
  font-size: 16px;
  line-height: 1.6;
  color: #4b5563;
  max-width: 600px;
  margin: 0 auto;
}
.skills-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}
.skill-card {
  text-align: center;
  transition: 0.6s;
}
.skill-card:hover {
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px); /*hover effect*/
}
.skill-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.skill-card p {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #374151;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 90px;
  background: #f5f9ff;
  margin-top: -150px;
}
.card {
  width: 320px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.card:hover {
  transform: translatey(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.card h3 {
  padding: 15px;
  font-size: 24px;
}
.card p {
  padding: 0 15px 20px;
  color: #666;
}

footer {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 15px;
  margin-top: 20px;
}
#id {
  text-align: center;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .hero-text {
    text-align: center;
  }
  .hero-img img {
    width: 250px;
  }
}
